// start variables
$main-color: #2196f3;
$main-color-alt: #1787e0;
$main-transtion-duration: 0.3s;
$main-background-color: #fafafa;
$main-border-color: #e9e6e6;
$main-padding: 100px;
$section-background-color: #ececec;
// end variables
// start global rules
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
// start media quires
@media (min-width: 576px) {
  .container {
    width: 500px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
// end media quires
// end global rules
// start components
.main-title {
    margin: 50px auto 80px;
    border: 2px solid;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}
.main-title::before,.main-title::after{
      content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $main-color;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before{
    left: -30px;
}
.main-title::after{
    right: -30px;
}
.main-title:hover::before,.main-title:hover::after {
  z-index: -1;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}
.main-title:hover::before {
  animation-name: left-move;
}
.main-title:hover::after {
  animation-name: right-move;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.8s;
  transition-duration: 0.5s;
}
// end components
// start header
.header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
      display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .container .logo {
  color: $main-color;
  max-width: 100%;
  font-size: 26px;
  height: 72px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .container .logo {
width: 100%;
height: 40px;
  }
}
.header .container .main-nav{
  display: flex;
}
@media (max-width: 767px) {
  .header .container .main-nav {
    margin: auto;
  }
}
.header .container .main-nav li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: 100%;
}
.header .container .main-nav > li > a{
  text-transform: capitalize;
  padding: 0 30px;
  font-size: 16px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: $main-transtion-duration;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
.header .container .main-nav > li > a {
          padding: 10px;
        height: 40px;
        font-size: 14px;
}
}
.header .container .main-nav > li > a::before {
    content: "";
    position: absolute;
    height: 4px;
    background-color: $main-color;
    width: 100%;
    top: 0;
    left: -100%;
    transition-duration: $main-transtion-duration;
}
.header .container .main-nav > li > a:hover {
  color: $main-color;
  background-color: $main-background-color;
}
.header .container .main-nav > li > a:hover::before {
  left: 0;
}
.header .mega-menu {
  display: flex;
    position: absolute;
    width: 100%;
    left: -15px;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid $main-color;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top $main-transtion-duration, opacity $main-transtion-duration;
    align-items: center;
    opacity: 0;
    z-index: -1;
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
        gap: 0;
        padding: 0;
  }
}
.header .mega-menu .image img{
  max-width: 100%;
}
.header .mega-menu .links{
  min-width: 250px;
  flex: 1;
}
@media (max-width: 991px) {
.header .mega-menu .image img{
  display: none;
}
}
.header .mega-menu .links li{
  position: relative;
}
.header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid $main-border-color;
}
@media (max-width: 767px) {
.header .mega-menu .links:first-of-type li:last-child {
  border-bottom: 1px solid $main-border-color;
}
}
.header .mega-menu .links li a{
  color: $main-color;
  padding: 20px;
  display: block;
  font-size: 19px;
  font-weight: bold;
}
.header .mega-menu .links li a i{
  margin-right: 10px;
}
.header .mega-menu .links li::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background-color: #fafafa;
    transition: width $main-transtion-duration;
}
.header .mega-menu .links li:hover::before{
  width: 100%;
}
// end header
// satrt landing
.landing {
  position: relative;

}
.landing::before {
content: "";
position: absolute;
left: 0;
top: -30px;
width: 100%;
height: 100%;
background-color: #ECECEC;
z-index: -1;
transform: skewY(-6deg);
transform-origin: top left;
}
.landing .image img{
width: 600px;
position: relative;
animation: up-down-img 1.5s ease-in-out alternate infinite;

}
@media (max-width: 767px) {
  .landing .image img{
    display: none;
  }
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .landing .container{
    flex-direction: column;
  }
}
.landing .text {
  flex: 1;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .landing .text{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.landing .text h1{
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .text h1{
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .landing .text h1{
    margin-top: 40px;
  }
}
.landing .text p{
  font-size: 20px;
  margin: 5px 0 0;
  line-height: 1.7;
  color: rgb(45, 42, 42);
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text p{
    font-size: 18px;
    text-align: center;
  }
}

.landing .go-down{
      position: absolute;
    color: $main-color;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    transition-duration: $main-transtion-duration;
    animation: up-down-arrow 1.2s ease-in-out alternate infinite;
}
.landing .go-down:hover{
  color: $main-color-alt;
}
// end landing
// start movies
.media {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  position: relative;
}
.media .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.media .box {
  box-shadow: 0 2px 15px rgba(206, 198, 198, 0.449);
  background-color: white;
  overflow: hidden;
  border-radius: 6px;
  transition: transform $main-transtion-duration, box-shadow $main-transtion-duration;
}

.media .box:hover {
  transform: translateY(-15px);
  box-shadow: 0 2px 15px rgb(206, 198, 198);
}

.media .box img {
    max-width: 100%;
}
.media .box .content {
  padding: 20px;
}
.media .box .content h3 {
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.media .box .content p {
  margin: 10px 0 0 0;
  line-height: 1.5;
  color: #5f5e5e;
}
.media .box .info {
  padding: 20px;
  border-top: 1px solid #e6e6e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media .box .info a {
  color: $main-color;
  font-weight: bold;
  text-transform: capitalize;
}
.media .box .info i {
  color: $main-color;
}
.media .box:hover .info i {
  animation-name: arrow-move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
// end movies
// start gallery 
.gallery {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  position: relative;
  background-color: $section-background-color;
}
.gallery .container {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px #e1dbdb, 0px 2px 4px 0px #e0dada
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
      content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.21);
    width: 0%;
    height: 0%;
    opacity: 0;
    z-index: 5 ;
}
.gallery .box .image:hover::before{
  animation-name: flashing;
  animation-duration: 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.gallery .box img:hover {
  transform: scale(1.3) rotate(5deg);
}
// end gallery 
// start features
.features {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  position: relative;
  background-color: white;
}
.features .container{
      display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .box{
      text-align: center;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
}
.features .box p {
    text-transform: capitalize;
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 30px;
    color: #777;
    height: 30%;
}
.features .box h2{
  position: relative;
  font-size: 40px;
  margin: auto;
  width: fit-content;
}
.features .box a {
  display: block;
    font-size: 23px;
    text-transform: capitalize;
    border: 3px solid;
    width: fit-content;
    margin: 30px auto;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    transition: $main-transtion-duration;
}
// .features .box a::before {
//     content: "";
//     width: 100%;
//     background-color: black;
//     position: absolute;
//     height: 100%;
//     top: 0;
//     left: -100%;
//     transition: $main-transtion-duration;
// }
.features .box a:hover::before {
      left: 0%;
}
.features .box h2::after{
  content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: calc(100% - 30px);
    height: 5px;
}
.features .box .img-holder{
  position: relative;
  overflow: hidden;
}
.features .box .img-holder::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.features .box .img-holder::after{
        content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0px 0px 220px 450px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    transition-duration: $main-transtion-duration;

}
.features .box:hover .img-holder::after{
      border-width: 220px 450px 220px 0px;
}
.features .box .img-holder img{
  max-width: 100%;
}
.features .quality .img-holder::before {
  background-color: #f4403691;
}
.features .quality h2::after {
    background-color: #f4403691;
}
.features .quality a {
  color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time .img-holder::before {
  background-color: #00968891;
}
.features .time h2::after {
    background-color: #00968891;
}
.features .time a {
    color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion .img-holder::before {
  background-color: #2195f391;
}
.features .passion h2::after {
    background-color: #2195f391;
}
.features .passion a {
      color: #2195f3;
  background: linear-gradient(to right, #2195f3 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
  box-shadow: 1px 2px 10px 5px white;
}
// end features
// start testimonials
.testimonials {
    padding-top: $main-padding;
  padding-bottom: $main-padding;
  position: relative;
  background-color: $section-background-color;
}

.testimonials .container {
        display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .card {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
position: relative;
}
.testimonials .card::before {
      position: absolute;
    width: 150px;
    height: 150px;
    content: "";
    border-radius: 50%;
    top: -80px;
    right: -30px;
    background-color: $section-background-color;
}
.testimonials img {
        position: absolute;
width: 130px;
    height: 130px;
    top: -70px;
    right: -20px;
}
.testimonials .card h4{
    text-transform: capitalize;
    margin: 0px 0px 10px;
    font-size: 18px;
}
.testimonials .card span{
      font-size: 15px;
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .card div{
      margin-bottom: 10px;
}
.testimonials .card div i{
  color: #ffc107;
    margin-right: 2px;
}
.testimonials .card div i.fa-regular {
  color: black;
}
.testimonials .card p{
      color: #777;
    line-height: 1.5;
}
// end testimonials
// start animation
@keyframes up-down-arrow {
0%,10%,20%,50%,80%,100% {
  transform: translateY(0);
}
40%,60% {
  transform: translateY(-15px);
}
}
@keyframes up-down-img {
0%,100% {
  top: 0;
}
50% {
  top: -40px;
}
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  } 
  100% {
    left: 0;
    border-radius: 0%;
    width: 51%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  } 
  100% {
    right: 0;
    border-radius: 0%;
    width: 51%;
    height: 100%;
  }
}
@keyframes arrow-move {
  0%,10%,20%,50%,80%,100% {
  transform: translateX(0);
}
40%,60% {
  transform: translateX(-15px);
}
}
@keyframes flashing {
  0%,40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
// end animation